.App {
    /*height: 100vh;*/
    /*especificamos el height en la altura del ordenador*/
    height: 100vh;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora {
    width: 320px;
    height: 540px;
    padding: 1px;
    background-color: #191a1b;
    border-radius: 15px;
    border: 2px solid #585858;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Media Quieries*/

@media screen and (max-width:480px) {
    .App {
        align-items: normal;
    }
    .contenedor-calculadora {
        margin-top: 25px;
    }
}